* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
}

body .container {
  width: 50%;
  margin: 0 auto;
}

body .container h1 {
  font-family: "Poppins";
  font-size: 45px;
  color: #00a8ff;
}

body .container p {
  font-family: "Montserrat Regular";
  color: #22222280;
}

@media (max-width: 960px) {
  body .container p {
    text-align: center;
  }
}

body .container input {
  padding: 5px;
  width: 100%;
  margin: 15px 0;
  font-family: "Montserrat Regular";
  outline: none;
  border: 1px solid #33333340;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .container input:focus {
  border: 2px solid #00a8ff;
}

body .container button {
  width: 80px;
  margin: 5px 0;
  padding: 5px;
  font-family: "Montserrat Medium";
  background-color: #fff;
  border: 1px solid #33333340;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

@media (max-width: 960px) {
  body .container button {
    width: 100%;
  }
}

body .container button:hover {
  background-color: #00a8ff;
  color: #fff;
}

#profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  min-height: 200px;
}

#profile #profile-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  min-height: 200px;
}

#profile #profile-main #profile-image {
  width: 100%;
  height: 200px;
}

#profile #profile-main #profile-image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 960px) {
  #profile #profile-main #profile-image {
    height: 250px;
  }
}

#profile #profile-main a {
  width: 100%;
  padding: 4px;
  text-decoration: none;
  background-color: #fff;
  color: #00a8ff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  text-align: center;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

#profile #profile-main a:hover {
  background-color: #00a8ff;
  color: #fff;
}

@media (max-width: 960px) {
  #profile #profile-main {
    width: 100%;
  }
}

#profile #profile-info {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#profile #profile-info #badges {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 960px) {
  #profile #profile-info #badges {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#profile #profile-info #badges .badge {
  width: auto;
  height: 25px;
  padding: 5px;
  margin: 0 5px;
  background-color: #0097e6;
  color: #fff;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 960px) {
  #profile #profile-info #badges .badge {
    margin: 5px;
    width: 150px;
  }
}

#profile #profile-info #basic-info ul {
  list-style-type: none;
  margin: 0 15px;
}

#profile #profile-info #basic-info ul li {
  padding: 3px;
  font-family: "Montserrat Regular";
  color: #333333;
}

#profile #profile-info #basic-info ul li #notAvailable {
  color: #333333;
}

#profile #profile-info #basic-info ul li strong {
  color: #00a8ff;
}

@media (max-width: 960px) {
  #profile #profile-info #basic-info ul {
    margin: 0;
  }
}

@media (max-width: 960px) {
  #profile #profile-info {
    width: 100%;
  }
}

@media (max-width: 960px) {
  #profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#repos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#repos h2 {
  color: #00a8ff;
  font-family: "Poppins";
  font-size: 25px;
  margin: 10px 0;
  text-transform: uppercase;
}

#repos .repo-box {
  margin: 5px;
  padding: 10px;
  width: 100%;
  height: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#repos .repo-box h3 {
  margin: 5px;
  font-family: "Poppins";
  color: #00a8ff;
}

#repos .repo-box .repo-box_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#repos .repo-box .repo-box_info p {
  margin: 0 5px;
  font-family: "Montserrat Medium";
}

#repos .repo-box .repo-box_info p span {
  color: #00a8ff;
  font-family: "Montserrat Medium";
  font-size: 18px;
}

#repos .repo-box .repo-box_desc {
  margin: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#repos .repo-box .repo-box_desc h4 {
  color: #00a8ff;
  font-family: "Poppins";
}

#repos .repo-box .repo-box_desc p {
  margin: 10px 0;
  color: #444;
}

@media (max-width: 960px) {
  #repos .repo-box .repo-box_desc p {
    text-align: left;
  }
}

#repos .repo-box .repo-box_desc .repo-box_links {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#repos .repo-box .repo-box_desc .repo-box_links a {
  text-decoration: none;
  color: #00a8ff;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

@media (max-width: 960px) {
  #repos .repo-box .repo-box_desc .repo-box_links a {
    margin: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

#repos .repo-box .repo-box_desc .repo-box_links a:nth-child(2) {
  margin: 0 10px;
}

#repos .repo-box .repo-box_desc .repo-box_links a:hover {
  color: #e1302a;
}

#repos .repo-box #repo-data {
  margin: 0 5px;
  color: #33333360;
  font-family: "Montserrat Regular";
}

#repos .repo-box #repo-data #size {
  color: #00a8ff;
}
/*# sourceMappingURL=main.css.map */