body {
  font-family: "Raleway Regular";
}

body h1, body h4 {
  font-family: "Paytone One";
}

body input::-webkit-input-placeholder, body textarea::-webkit-input-placeholder {
  font-family: "Raleway Light";
}

body input:-ms-input-placeholder, body textarea:-ms-input-placeholder {
  font-family: "Raleway Light";
}

body input::-ms-input-placeholder, body textarea::-ms-input-placeholder {
  font-family: "Raleway Light";
}

body input::placeholder, body textarea::placeholder {
  font-family: "Raleway Light";
}

.container #notification {
  font-family: "Paytone One";
  font-size: 14px;
}

.container .success {
  color: limegreen;
}

.container .error {
  color: #e1302a;
}

.container #cancelBtn {
  display: none;
}

.container #posts .post-container {
  position: relative;
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.container #posts .post-container h4 {
  margin: 10px;
  font-size: 25px;
  font-family: "Paytone One";
}

.container #posts .post-container #post-body {
  margin-left: 10px;
}

.container #posts .post-container #creationDate {
  position: absolute;
  right: 5px;
  bottom: -5px;
  color: #333333;
  font-family: "Raleway Regular";
}

.container #posts .post-container .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
}

.container #posts .post-container .controls button {
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #22222280;
  font-family: "Raleway Regular";
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 80px;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.container #posts .post-container .controls button i {
  font-size: 24px;
  margin: 0 3px;
}

.container #posts .post-container .controls #updatePost:hover {
  color: #273c75;
}

.container #posts .post-container .controls #deletePost:hover {
  color: #e1302a;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}
/*# sourceMappingURL=main.css.map */